<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Contact List</title>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "contacts_list" %}">Phone Book</a>
            </div>
            <a href="{% url "create" %}" class="btn btn-primary navbar-btn" role="button">Create</a>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>