{% extends 'base.html' %}
{% load static %}

{% block body %}

    {% for contact in contacts %}
        <div class="row">
            <div class="col-xs-1">
                {% if contact.image %}
                    <div><img class="img-rounded" src="{{ contact.image.url }}" height="75" width="75"/></div>
                {% else %}
                    <div><img class="img-rounded" src="{% static "images/default_user.jpg" %}" alt="" height="75" width="75"/></div>
                {% endif %}
            </div>

            <div class="col-xs-9">
                <p><a href="{% url "edit" contact.id %}">Edit</a></p>
                <p><a href="{% url "edit" contact.id %}"><b>{{ contact.name }}</b></a></p>
                <p> {{ contact.phone }} </p>
            </div>

            <div class="col-xs-2">
                <div class="btn-group-vertical">
                    <button class="btn btn-info">Call</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}