{% extends 'base.html' %}
{% load static %}

{% block body %}

    <h3>Edit contact</h3>

    <form method="post" class="form-horizontal" action="{% url "edit" user.id %}" enctype="multipart/form-data">

    {% csrf_token %}
        <div class="row">

            <div class="col-xs-4">
                <div class="form-group">
                    {% if user.image %}
                        <div><img class="img-rounded" src="{{ user.image.url }}" height="150" width="150"/></div>
                    {% else %}
                        <div><img class="img-rounded" src="{% static "images/default_user.jpg" %}" alt="" height="150" width="150"/></div>
                    {% endif %}
                </div>
                <input type="file" id="image" name="image">
            </div>

            <div class="col-xs-8">

                {% if errors %}
                    {% for error in errors %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> {{ error }}.
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Name</label>
                    <input type="text" value="{{ user.name }}" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-sm-2">Email</label>
                    <input type="text" value="{{ user.email }}" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label col-sm-2">Phone</label>
                    <input type="text" value="{{ user.phone }}" id="phone" name="phone">
                </div>

                <p><input type="checkbox">Favourite</p>

                <input class="btn btn-success" type="submit" value="Save contact" />
                <a href="{% url "delete" user.id %}" class="btn btn-danger">Delete</a>

            </div>
        </div>
    </form>
{% endblock %}