{% extends 'base.html' %}

{% block body %}
    <form method="post">
    {% csrf_token %}

        <div class="row">
            <div class="col-xs-4"></div>

            <div class="col-xs-4 well well-lg" style="text-align: center">
                <p>Discard this contact <b>"{{ user.name }}"</b>?</p>
                <div class="btn-group-horizontal" >
                    <a href="{% url "contacts_list" %}" class="btn btn-primary">Cancel</a>
                    <button class="btn btn-danger" type="submit">Discard</button>
                </div>
            </div>

            <div class="col-xs-4"></div>
        </div>

    </form>
{% endblock %}