{% extends 'base.html' %}
{% load static %}

{% block body %}

    <h3>Create new contact</h3>

    <form method="post" class="form-horizontal" enctype="multipart/form-data">

    {% csrf_token %}
        <div class="row">

            <div class="col-xs-4">
                <div class="form-group">
                    <img class="img-rounded" src="{% static "images/default_user.jpg" %}"  height="100" width="100"/>
                </div>
                <div class="form-group">{{ form.image }}</div>
            </div>

            <div class="col-xs-8">
                <div class="form-group">
                    <label for="{{ form.id_for_name }}" class="control-label col-sm-2">Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.id_for_email }}" class="control-label col-sm-2">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.id_for_phone }}" class="control-label col-sm-2">Phone</label>
                    {{ form.phone }}
                </div>

                <p><input type="checkbox">Favourite</p>

                <input type="submit" value="Save contact" />
            </div>
        </div>
    </form>
{% endblock %}